<div class="card card-sm cursor-pointer mb-2" (click)="onSelect.emit(room())">
    <div class="card-body p-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-baseline">
                <h2 class="m-0 me-2 text-primary fw-bold">{{ room().room_number }}</h2>
                <span class="text-muted small fw-medium">{{ room().description }}</span>
                <div class="text-muted small">
                    Check-out: {{ room().displayDate | date:'dd/MM/yyyy' }} </div>
            </div>

            <span class="badge" [ngClass]="{
        'bg-success-lt': room().status === 'available',
        'bg-danger': room().status === 'occupied' && !room().hasIncomingReservation,
        'bg-warning': room().status === 'occupied' && room().hasIncomingReservation
      }">
                {{ room().status | uppercase }}
                {{ (room().status === 'occupied' && room().hasIncomingReservation) ? '+ RES' : '' }}
            </span>
        </div>

        @if (room().displayDate) {
        <div class="mt-2 pt-2 border-top">
            <span class="badge d-flex align-items-center gap-1 w-100 justify-content-center"
                [ngClass]="room().isCheckoutDate ? 'bg-danger-lt' : 'bg-blue-lt'">
                <i [class]="room().isCheckoutDate ? 'ti ti-logout' : 'ti ti-calendar'"></i>
                {{ room().isCheckoutDate ? 'SALIDA' : 'RES' }}:
                {{ room().displayDate | date:'dd MMM' }}
            </span>
        </div>
        }
    </div>
</div>