<div class="mb-3">

    <div class="mb-4">
        <div class="input-icon mb-3 position-relative">
            <span class="input-icon-addon ps-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </span>

            <input type="text" #searchInput class="form-control" placeholder="Buscar habitación..."
                [value]="bookingService.searchQuery()" (input)="onSearch($event)">

            @if (bookingService.searchQuery().length > 0) {
            <span class="input-icon-addon end-0 cursor-pointer text-danger pe-2"
                (click)="clearSearch(); searchInput.value = ''" title="Limpiar búsqueda">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="3" stroke="currentColor" fill="none">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </span>
            }
        </div>
    </div>

    <div class="filters-scroll-container">
        @for (option of filterOptions; track option.value) {

        <button type="button" class="big-filter-btn cursor-pointer" [class.active]="currentFilter() === option.value"
            [class]="'big-filter-btn cursor-pointer filter-' + option.value" (click)="setFilter(option.value)">
            {{ option.label }}
        </button>
        }
    </div>

    @if (isAdmin()) {
    <div class="hr-text">Administración</div>

    <div class="admin-buttons-grid">

        <button (click)="onReservations.emit()" class="admin-btn">
            <span>📅</span> Reservas
        </button>

        <button (click)="onManageGuests.emit()" class="admin-btn">
            <span>👥</span> Huéspedes
        </button>

        <button (click)="onManageUsers.emit()" class="admin-btn">
            <span>🛡️</span> Personal
        </button>

    </div>
    }
</div>