<div class="page">

  <app-header></app-header>

  <app-sidebar [class.show-mobile]="layoutService.mobileMenuOpen()">
  </app-sidebar>

  <div class="page-wrapper" [class.expanded-content]="layoutService.sidebarCollapsed()">

    <router-outlet></router-outlet>
    <app-ai-chat></app-ai-chat>
  </div>

  <footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">Hosting3M © 2026</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>